<h3>Your Thoughts On This?</h3>
<form action="" name="thecomment" id="thecomment">
	<input type="hidden" name="username" id="username" value="<%= session["current_user"] %>">
	<label>Comment</label><br />
	<textarea rows="10" cols="70" name="comment" id="comment" value=""></textarea><br />
	<input type="hidden" name="sentence_id" id="sentence_id" value="<%= params[:sentence_id] %>">
	<input type="hidden" name="paper_id" id="paper_id" value="<%= session["current_paper"] %>">
	<input type="hidden" name="parent_id" id="parent_id" value="<%= params[:parent_id]%>">
	<input type="hidden" name="parent_type" id="parent_type" value="<%= params[:parent_type]%>">
	<input type="submit" id="commentSubmit" value="Thank you." />
</form>

<script type="text/javascript">
	// attach a submit handler to the form
	 	$(function() {
		$('#commentSubmit').click(function() {
			//$('#container').append('<img src="img/loading.gif" alt="Currently Loading" id="loading" />');
			
			var username = $('#username').val();
			var comment = $('#comment').val();
			var sentence_id = $('#sentence_id').val();
			var paper_id = $('#paper_id').val();
			var parent_id = $('#parent_id').val();
			var parent_type = $('#parent_type').val();
			//I THINK WHEN YOU CLICK ON THE SENTENCE, IT NEEDS TO GRAB THIS.
			//SAME WITH THE PARENT_ID

			$.ajax({
				url: '/receivedcomment',
				type: 'POST',
				data: 'username=' + username + '&comment=' + comment + '&sentence_id=' + sentence_id + '&paper_id=' + paper_id + '&parent_id=' + parent_id + '&parent_type=' + parent_type ,

				success: function(result) {
					//console.log(username);
					$('#mynewcomment').slideUp('fast');
					$('#' + sentence_id).after('<span class="comment ' + sentence_id + '">' + comment + '</span>');
					//console.log('just added comment');
					$('#' + sentence_id).after('<a href="#" class="marker">*</a>');
					
					$('#loading').fadeOut(500, function() {
					//console.log('about to remove');
					$('#mynewcomment').remove();
					
					});
				}
			});

			return false;
		});
		//console.log('all finished with the submission!');
	  });
	
</script>