LOGGED IN AS <%= session["current_user"] %>

<% @paperArray.each_with_index do |sentence, index| %>
	<%= '<a href="#" class="sentence" id="' + index.to_s + '">' + sentence + ".</a>" 
	%>
	
	<% for comment in @paper.comments %>
		<% if comment.sentence_id == index %>
		<span class="comment <%= comment.sentence_id %>"><%= comment.body %>CREATED AT<%= comment.created_at %></span>
		<% end %>
	<% end %>
	
<% end %>


	




<%#= @paper.id %>
