<h1>My Comment Test</h1>
<% for comment in @mycomments %>

	<h4><%= comment.paper_id %></h4>
	<p>The parent_id is <%= comment.parent_id %></p>
	<p>The parent_type is <%= comment.parent_type %></p>
	<p><%= comment.user_id %>.</p>
	<p><%= comment.body %>.</p>
	<p><%= comment.parent_type %></p>
<% end %>